# Logs
logs
*.log

# Dependency directories
node_modules/
dist/

# Environment variables
.env

# Build output
build/
dist/
out/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
